body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

.settings {
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 1px 0px 0px 0px rgb(119, 119, 119);
}

.settings h3 {
  color: #313131;
}

.error {
  background: gray;
}

.axis line {
  stroke: #C0C0BB;
}

.axis text{
  font-weight: lighter;
  fill: #696969;
}

.title {
  font-size: 1.5em;
  fill: #313131;
}

path {
  fill: none;
  stroke: rgb(255, 100, 100);
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.data-points {
  fill: rgb(100, 100, 255);
  stroke: black;
  stroke-width: 0.5;
}