body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.settings {
  width: 14%;
  height: 100vh;
  padding: 1%;
  margin-top: 10px;
  box-shadow: 1px 0px 0px 0px rgb(119, 119, 119);
  position: fixed;
  top: 0;
  left: 0;
}

.plots {
  left: 15%;
  position: relative;
  background: black;
  display: flex;
  justify-content: space-between;
}

.settings h3 {
  color: #313131;
}

.error {
  background: gray;
}

.axis line {
  stroke: #C0C0BB;
}

.axis text{
  font-weight: lighter;
  fill: #696969;
}

.title {
  font-size: 1.5em;
  fill: #313131;
}

button{
  width: 100%;
  margin-top: 30px;
}