body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.settings {
  width: 10%;
  height: 100vh;
  padding: 1%;
  margin-top: 10px;
  box-shadow: 1px 0px 0px 0px rgb(119, 119, 119);
  position: fixed;
  top: 0;
  left: 0;
}

.plots {
  left: 17%;
}

.settings h3 {
  color: #313131;
}

.error {
  background: gray;
}

.axis line {
  stroke: #C0C0BB;
}

.axis text{
  font-weight: lighter;
  fill: #696969;
}

.title {
  font-size: 1.5em;
  fill: #313131;
}

.settings schbutton{
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  background-color: #abe2fb;
  color: #313131;
}

.settings .rc-slider-dot-active {
  border: 2px solid #e9e9e9;
}

.settings .rc-slider-horizontal {
  margin-top: 5px;
  margin-bottom: 10px;
}

.slider {
  margin-right: 10px;
  margin-left: 10px;
}

.stepper-buttons {
  margin-top: 20px;
}